/* adjust various options of the container of the cells */
.container {
    width: 480px;
    height: 720px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px,2fr));
    grid-template-rows: repeat(auto-fit, minmax(1px,2fr)); 
    
}

.decorate {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* cell elements - controls properties for each cell */
.row {
    display: grid;
}

.container .row .cell {
    border: 1px solid gray;
    min-width: 1px;
    min-height: 1px;

}

